@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.toplevel_page_wc_esl_options {
    background: #f8fafc;
}

.wc-esl-settings {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    padding: 2rem 0 0 0;
}

.wc-esl-settings .card-body {
    position: relative;
}

.wc-esl-settings__title {
    font-size: 1.5rem;
    font-weight: 800;
}

.wc-esl-settings__title > span {
    color: rgb(113, 23, 247);
}

.wc-esl-settings__body .card {
    padding: 0;
    max-width: 1110px;
}

.wc-esl-settings input,
.wc-esl-settings textarea {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.wc-esl-settings input[type="checkbox"]{
    max-width: 20px;
    margin-top: 5px;
}

.wc-esl-settings .form-control {
    font-size: .9rem;
}

.wc-esl-settings .btn {
    font-size: .9rem;
}

.esl-notifications {
    position: fixed;
    top: 45px;
    right: 15px;
    width: 100%;
    max-width: 315px;
    z-index: 999999;
}

.esl-notifications__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding: .9em 1em;
    margin-bottom: 1em;
    border-top: 3px solid;
}

.esl-notifications__item-success {
    border-color: #28a745;
    background: rgba(40, 167, 69, .85);
}

.esl-notifications__item-error {
    border-color: #dc3545;
    background: rgba(220, 53, 69, .85);
}

.esl-notifications__item-warning {
    border-color: #ffc107;
    background: rgba(255, 193, 7, .85);
}

.esl-notifications__icon {
    color: #FFFFFF;
    font-size: 21px;
    margin-right: .8em;
}

.esl-notifications__msg {
    margin: 0;
    color: #000;
    font-size: .85em;
    font-weight: 500;
}

.esl-preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 200;
    background: rgba(255, 255, 255, .57);
}

.esl-preloader .spinner-grow {
    color: rgb(113, 23, 247);
}

.wc-esl-settings-general-options .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.help-tip{
    top: 15px;
    right: 300px;
    text-align: center;
    background-color: #aaaaaa;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 999999;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.custom-control {
    z-index: unset !important;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
    display: none;
    text-align: left;
    background-color: rgba(30, 32, 33, 0.93);
    padding: 10px;
    width: 250px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 999;
}

.help-tip p:before{
    position: absolute;
    /*content: '';*/
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

.esl-section_drag .esl-inner_item ul{
    min-height: 40px;
}

.esl-section_drag .js-connected {
    position: sticky;
    top: 45px;
}

.esl-section_drag .esl-status__wp{
    border: 1px solid color(srgb 0.8627 0.8628 0.8628);
    display: inline-block;
    padding: 5px;border-radius: 5px;
    background-color: color(srgb 0.9686 0.9686 0.9687);
    margin-right: 5px;
}

.esl-section_drag .js-inner-connected {
    border: 1px solid color(srgb 0.8627 0.8628 0.8628);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px;
}

.esl-section_drag .esl-status_api{
    border: 1px solid color(srgb 0.8627 0.8628 0.8628);
    display: inline;padding: 2px;
    border-radius: 5px 5px 0px 0px;
    font-size: 14px;
    font-weight: 600;
    background-color: color(srgb 0.9686 0.9686 0.9687);
}

.esl-section_drag .esl-inner_status{
    box-shadow: 14px 0px 11px -20px black;
}

#eslExportFormWrap .input-group{
    margin-bottom: 15px;
}

#wcEslSettings .float-end{
    margin-top: 30px;
}

.sortable-delete{
    position: absolute;
    margin-left: 2px;
    margin-top: -17px;
    color: rgba(236, 0, 0, 0.66);
}

.modal-esl-frame {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
}
.modal-esl-frame .modal_content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.modal-esl-frame .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-esl-frame .title {
    padding-bottom: 45px;
}

.modal-esl-frame #buttonModalAddField{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: auto;
    color: #fff;
    background-color: #489afa;
    border-color: #0062cc;
    margin-top: 15px;
}

.modal-esl-frame #buttonModalAddField:hover{
    background-color: #086be1;
    border-color: #0062cc;
}


#modal-esl-add-field .label{
    position: static;
}

#modal-esl-add-field input{
    border: black !important;
    height: 15px;
    margin-left: 2px;
}

#modal-esl-add-field input[type=checkbox]:checked::before {
    float: unset;
}

#modal-esl-add-field input[type=checkbox] {
    float: unset;
    height: 15px;
    width: 15px !important;
    border: 1px solid rgba(0, 0, 0, 0.14) !important;
    margin: 2px auto;
}

#modal-esl-add-field .form-field_add {
    margin: 10px;
    display: inline-grid;
}
